# BopClients Web Application Environment Variables
# FastApi Backend API URL (BFF connects to this on server side)
BOPCLIENTS_API_URL=http://127.0.0.1:8100

# Public application branding
NEXT_PUBLIC_APP_NAME="BOP | CLIENTS"
NEXT_PUBLIC_DEFAULT_LOCALE="en"
